nav
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid #dadce0
    padding: 20px

    .heading
        color: #5f6368
        font-family: 'Poppins', sans-serif
        font-size: 22px
        font-weight: 500
    a
        color: #5f6368
        font-family: 'Poppins', sans-serif
        padding-left: 16px
        font-weight: 500
        padding-right: 16px
