<nav>
    <span class="heading">
        Showcase
    </span>
    <span>
        <a> {{getRemainingVotes()}} {{(getRemainingVotes()==2||getRemainingVotes()==3)?"Votes":"Vote"}} Left</a>
        <a (click)="resultsVisible=true">Results</a>
        <a (click)="onUpload()">Upload</a>
        <a (click)="logout()">Logout</a>
        <a>{{authService.currentUser?.displayName}}</a>
        <img src={{authService.currentUser?.photoURL}} alt="">
    </span>
</nav>

<div class="theme">
    {{authService.config?.theme}}
    <p>{{authService.config?.week}}</p>
</div>

<div class="main-container">

    <div class="each-entry" *ngFor="let entry of photoEntries | async">
        <img src={{entry.photoUrl}}>

        <div *ngIf="isVoted(entry.id)" class="overlay-top">
            <img *ngIf="authService.userData?.first==entry.id" src="assets\medal1.svg">
            <img *ngIf="authService.userData?.second==entry.id" src="assets\medal2.svg">
            <img *ngIf="authService.userData?.third==entry.id" src="assets\medal3.svg">

        </div>
        <div class="overlay-expand">
            <img (click)="expandImage(entry)" class="expand-icon" src="assets\expand.svg"
                style="height: 30px; width: 30px;">
        </div>
        <div id="overlay" class="overlay">



            <img *ngIf="authService.userData?.first==''&&!isVoted(entry.id)" src="assets\medal1.svg"
                style="margin: 10px; width: 50px; height: 50px" (click)="onVoted(1,entry)">
            <img *ngIf="authService.userData?.second==''&&!isVoted(entry.id)" src="assets\medal2.svg"
                style="margin: 10px; width: 50px; height: 50px" (click)="onVoted(2,entry)">
            <img *ngIf="authService.userData?.third==''&&!isVoted(entry.id)" src="assets\medal3.svg"
                style="margin: 10px; width: 50px; height: 50px" (click)="onVoted(3,entry)">


            <span class="unvote" *ngIf="isVoted(entry.id)" (click)="onLike(entry)"><i class="fas fa-minus-circle"
                    style="margin: 10px;"></i> Tap to remove your vote </span>

            <span class="unvote" *ngIf="getRemainingVotes()==0&&!isVoted(entry.id)">No votes left</span>

        </div>
        <span class="img-bottom">
            {{entry.caption}}
            <!-- <span>
                <img *ngIf="authService.userData?.first==entry.id" src="assets\third.svg" style="margin: 10px;">

                <i *ngIf="authService.userData?.first==entry.id" class="fas fa-heart gold"
                    style='padding-right:8px'></i>
                <i *ngIf="authService.userData?.second==entry.id" class="fas fa-heart silver"
                    style='padding-right:8px'></i>
                <i *ngIf="authService.userData?.third==entry.id" class="fas fa-heart bronze"
                    style='padding-right:8px'></i>
                <span *ngIf="authService.config?.resultsPublished">
                    {{entry.score}}
                </span>
            </span> -->
        </span>
    </div>

</div>

<div *ngIf='popUpVisible' class="upload-popup">
    <p class="heading">Upload your photo</p>
    <input class="input-file" type="file" (change)="onFileSelected($event)">
    <input [(ngModel)]='caption' type="text" name="caption" placeholder="Caption" autocomplete="off" required>
    <div *ngIf="!uploading" (click)="chooseFile()" class="upload-area">
        <p *ngIf="!imgSelected">Choose a file to<br>upload</p>
        <img id="preview" src="#" class="nano">
    </div>
    <div *ngIf="uploading" (click)="chooseFile()" class="upload-area">
        <p>Uploading...</p>
    </div>
    <span class="done">
        <button (click)="uploadToFireStorage()" class="btn">Upload</button>
        <button (click)="popUpVisible=false" class="btn cancel">Cancel</button>
    </span>
</div>

<div *ngIf="expanded" class="expanded">

    <img src={{selectedImage.photoUrl}} alt="">
    <span class="done">
        <!-- <p>Pick your vote:</p> -->
        <!-- <span>
            <img id="first" (click)="onVoted(1,selectedImage)" src="assets\medal1.svg"
                style="margin: 10px; width: 50px; height: 50px">
            <img id="second" (click)="onVoted(2,selectedImage)" src="assets\medal2.svg"
                style="margin: 10px; width: 50px; height: 50px">
            <img id="third" (click)="onVoted(3,selectedImage)" src="assets\medal3.svg"
                style="margin: 10px; width: 50px; height: 50px">
        </span> -->
        <button (click)="download()" class="btn">Download</button>
        <button (click)="expanded=false" class="btn cancel">Cancel</button>
    </span>

</div>


<div *ngIf="resultsVisible" class="results">
<!-- Need to automate this one day! -->
    <div>
        <img class="svg" src="assets\medal1.svg">

        <img
            src="https://firebasestorage.googleapis.com/v0/b/photocontest-7d8c2.appspot.com/o/entries%2F1646383999907?alt=media&token=6d160ed8-4182-429f-8bf7-9f3d800fe348">
        <p>stand at ease</p>
        <p>Jitin</p>
    </div>

    <!-- <div>
        <img class="svg" src="assets\medal2.svg">

        <img
            src="https://firebasestorage.googleapis.com/v0/b/photocontest-7d8c2.appspot.com/o/entries%2F1645178528837?alt=media&token=340ad1f2-d6bc-4812-84c0-3d65c6712a04">
        <p>From darkness, lead me to light</p>
        <p>Megha Ajith</p>
    </div>

    <div>
        <img class="svg" src="assets\medal3.svg">

        <img
            src="https://firebasestorage.googleapis.com/v0/b/photocontest-7d8c2.appspot.com/o/entries%2F1645175837923?alt=media&token=3c8285e0-db20-48cc-bd33-08f3b99ac017">
        <p>Colourful Fireflies ?</p>
        <p>Kurien Eapen</p>
    </div> -->

    <button (click)="resultsVisible=false" class="btn cancel">Cancel</button>


</div>