<nav>
    <span class="heading">
        Showcase
    </span>
    <span>
        <a (click)="onUpload()">Upload</a>
        <a (click)="logout()">Logout</a>
        <a>{{authService.currentUser?.displayName}}</a>
        <img src={{authService.currentUser?.photoURL}} alt="">
    </span>
</nav>

<div class="theme">
    Nature
    <p>6th Jan 2021</p>
</div>

<div class="main-container" *ngFor="let entry of photoEntries | async">
    <img
        src={{entry.photoUrl}}>
    </div>

<div *ngIf='popUpVisible' class="upload-popup">
    <p class="heading">Upload your photo</p>
    <input class="input-file" type="file" (change)="onFileSelected($event)">
    <input [(ngModel)]='caption' type="text" name="caption" placeholder="Caption" required>
    <div *ngIf="!uploading" (click)="chooseFile()" class="upload-area">
        <p *ngIf="!imgSelected">Choose a file to<br>upload</p>
        <img id="preview" src="#" class="nano">
    </div>
    <div *ngIf="uploading" (click)="chooseFile()" class="upload-area">
        <p>{{ uploadPercent | async }}%<br>uploaded</p>
    </div>
    <span class="done">
        <button (click)="uploadToFireStorage()" class="btn">Upload</button>
        <button (click)="popUpVisible=false" class="btn cancel">Cancel</button>
    </span>
</div>