<div class="main-container">
  <section class="login-section">
    <p>Please enter your credentials</p>
    <form method="dialog" (submit)="login($event)">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <input class="submit" type="submit" value="Log In">
    </form>
  </section>
  <section class="other-section">
    <img src="assets\undraw_moments_0y20.svg" height="300px">
  </section>
</div>