<div class="main-container">
  <section class="login-section">
    <p>Please enter your credentials</p>
    <div class="field" >
      <input id="email" type="text" placeholder="Email" [(ngModel)]='email'>
      <input id="password" type="password" placeholder="Password" [(ngModel)]='password'>
    </div>
    <input (click)="loginWithEmail()" class="submit" type="button" value="LOGIN">
    <input (click)="loginWithGoogle()" class="submit" type="button" value="Log In with Google">
  </section>
  <section class="other-section">
    <img src="assets\undraw_moments_0y20.svg" height="300px">
  </section>
</div>